.scroll-wrapper {
	position: relative;
	display: block;
	overflow-y: auto;
	height: 100%;
}

.scroll-inner {
	position: relative;
	display: block;
	overflow: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.total-padding {
	width: 1px;
	opacity: 0;
}

.scrollable-content {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}